{% extends 'layout.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            Home Page : Hello {{ name }} !
        </div>
    </div>
{% endblock %}