<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ application.nom }} - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body>

{% include 'navbar.twig' %}

<div class="container-fluid">
    {% block content %}
        NOT FOUND !
    {% endblock %}
</div>

<!-- Script -->
<script src="assets/js/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
